.rgba {

    /* RGB + alpha(0,1) */
    background : rgba(0,100,100, .25);

}

.text-shadow {

    /* x-offset, y-offset, blur, color */
    text-shadow : 2px 3px 2px #000;

}

.multiple-text-shadow {

    text-shadow : 2px 3px 2px #000, 2px 3px 2px #000;

}

.round-corner {
    
    border-radius : 20px;
    -webkit-border-radius : 20px;
    -moz-border-radius : 20px;
    
}

.asymmtric-round-corner {

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;

}

.box-shadow {
    
    /* x-offset, y-offset, blur, color */
    -webkit-box-shadow : 5px 5px 2px #333;
    -moz-box-shadow : 5px 5px 2px rgba(0,0,0, .25);

}

.multiple-box-shadow {

    -moz-box-shadow : 5px 0 2px rgba(0,0,0, .25), 0 5px 2px rgba(0,0,0, .25);

}